* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.super-container {
  margin-top: 70px;
  display: flex;
  padding: 0;
}

.sidebar-container {
  width: 20%;
  height: 100%;
  background-color: grey;

  min-height: 100vh;
  padding: 0;
}

.card-container {
  padding: 0 !important;
  width: 80%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(344px, 1fr));
}
