.sidebar-item {
  padding: 0.5em;
  font-size: 1.1em;
  color: black;
  display: block;
  text-align: center;
}

.sidebar-item:hover {
  background-color: rgba(255, 255, 255, 0.5);
  color: #000;
}

.sidebar-title {
  justify-content: space-around;
  color: black;
  font-weight: bold;
  text-align: center;
}

.sidebar-list {
  padding-top: 0.25rem;
  height: 0;
  overflow: hidden;
  font-size: small;
}

.sidebar-item.open .sidebar-list {
  height: auto;
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  font-weight: normal !important;
}
.sidebar-title .toggle-btn {
  cursor: pointer;
  padding: 0;
  margin: 0;
  transition: transform 0.3s ease;
}
.sidebar-item.open .sidebar-title .toggle-btn {
  transform: rotate(180deg);
}

.sidebar-item.open .sidebar-list:hover {
  cursor: pointer;
  background-color: rgb(194, 255, 242) !important;
}
